<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="CDMA Developer Target" sequenceNumber="38">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="3.7.1.M20110909-1335"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.7/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.7.1.v20110913-1526"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.gumtree.lib.bundles.feature.feature.group" version="1.7.0.201111041606"/>
<repository location="http://dist.codehaus.org/gumtree/sites/bundles/"/>
</location>
</locations>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86</arch>
</environment>
</target>
